# pip install -r requirements.txt

# ouster python sdk ---------------------------
ouster-sdk>=0.11.0

# opencv / torch installs ---------------------
torch>=2.0.0
torchvision>=0.15.1
opencv-python>=4.7.0
tqdm>=4.41.0
matplotlib>=3.7.1
pandas>=1.1.4
seaborn>=0.11.0
gitpython>=3.1.30
scipy>=1.4.1
setuptools>=65.5.1
psutil
requests
pyyaml
